footer.section-footer
  .top-wrapper
    .container.pt-4.pt-md-5.px-4.px-md-0
      .row
        .col-md-4
          .d-flex.align-items-center.mb-3
            img(loading='lazy' src=baseURL+'img/img-garuda-id.png' alt='Kementerian Koordinator Bidang Perekonomian Republik Indonesia')
            .px-3 Kementerian Koordinator Bidang Perekonomian Republik Indonesia
        .col-md-8
          .quote-box.p-4.rounded-4
            .d-flex
              i.bi.bi-quote
              .ps-3
                p.paragraph-regular
                  | Program Kartu Prakerja berlanjut pada tahun 2023 dengan skema normal, di mana bantuan pelatihan akan fokus kepada pengembangan kompetensi angkatan kerja, peningkatan produktivitas, dan daya saing angkatan kerja; serta pengembangan kewirausahaan. Pelaksanaan skema normal diatur dalam Peraturan Presiden Nomor 113 Tahun 2022 yang aturan pelaksanaannya tertera pada Permenko Perekonomian Nomor 17 Tahun 2022.
                .quote-author
                  span Airlangga Hartarto, Menteri Koordinator Bidang Perekonomian
      .row.my-5
        .col-lg-2.mb-4.mb-lg-0
          h6 Prakerja
          ul.list-footer-menu
            li
              a(href='https://www.prakerja.go.id/') Beranda
            li
              a(href='https://www.prakerja.go.id/tentang-prakerja') Tentang Prakerja
            li
              a(href='https://apply.workable.com/kartu-prakerja/' target='_blank') Karir
        .col-lg-2.mb-4.mb-lg-0
          h6 Peserta
          ul.list-footer-menu
            li
              a(href='https://dashboard.prakerja.go.id/daftar' target='_blank') Daftar
            li
              a(href='https://dashboard.prakerja.go.id/masuk' target='_blank') Masuk
            li
              a(href='https://www.prakerja.go.id/tanya-jawab') Tanya Jawab
            li
              a(href='https://www.prakerja.go.id/tren-rekrutmen') Tren Rekrutmen
        .col-lg-2.mb-4.mb-lg-0
          h6 Ekosistem
          ul.list-footer-menu
            li
              a(href='https://www.prakerja.go.id/lembaga-pelatihan') Lembaga Pelatihan
            li
              a(href='https://www.prakerja.go.id/lembaga-pelatihan#list-logo-lp') Mitra Lembaga Pelatihan
            li
              a(href='https://www.prakerja.go.id/lembaga-pelatihan#lp-question') FAQ Lembaga Pelatihan
            li
              a(href='https://www.prakerja.go.id/lembaga-pelatihan/kriteria-standar-pelatihan') Kriteria Standar Pelatihan
        .col-lg-2.mb-4.mb-lg-0
          h6 Lainnya
          ul.list-footer-menu
            li
              a(href='https://www.prakerja.go.id/artikel') Artikel
            li
              a(href='https://www.prakerja.go.id/publikasi') Publikasi
            li
              a(href='https://www.prakerja.go.id/kebijakan-privasi') Kebijakan Privasi
            li
              a(href='https://www.prakerja.go.id/syarat-ketentuan') Syarat Ketentuan
        .col-lg-4
          .call-center-box.p-4
            h6 Pusat Bantuan
            ul.list-footer-menu
              li
                b
                  a.link-primary(href='tel:+628001503001')
                    i.bi.bi-telephone-fill
                    | &nbsp;0800 1503 001
                  |  (Gratis)
              li
                a(href='https://bantuan.prakerja.go.id/hc/id/requests/new') Formulir Pengaduan
              li
                a(href='https://www.prakerja.go.id/livechat') Live Chat
            h6.mt-4 Jam Operasional
            ul.list-footer-menu
              li
                p
                  | Senin - Minggu
                  br
                  | Pukul 08.00 - 20.00 WIB
  .container.py-3
    .d-lg-flex.justify-content-between.align-items-center.text-center
      .social-media
        a(href='https://www.youtube.com/channel/UCXU-nRpRs5Hk9bF3r28rSDA' target='_blank' title='Youtube')
          i.bi.bi-youtube
        a(href='https://www.instagram.com/prakerja.go.id/' target='_blank' title='Instagram')
          i.bi.bi-instagram
        a(href='https://www.facebook.com/prakerja.go.id/' target='_blank' title='Facebook')
          i.bi.bi-facebook
        a(href='https://www.linkedin.com/company/kartu-prakerja/' target='_blank' aria-label='Prakerja Linkedin')
          i.bi.bi-linkedin
      .copyrights.mt-3.mt-lg-0
        span &copy; Kartu Prakerja 2023
  a.scroll-top
    i.bi.bi-chevron-up
