header.pdt-header
  .container.px-3.px-md-0
    .d-flex.justify-content-between.align-items-center
      a(href='https://www.prakerja.go.id/')
        img(loading='lazy' src=baseURL+'img/logo-prakerja.svg' alt='Logo Prakerja')
      .d-flex
        .web-lang.d-flex.align-items-center
          //- a.is-active.me-2(href="#") 2023 
          a.d-flex.align-items-center.me-2.nav-link(href='https://laporan-2022.prakerja.go.id?utm_source=laporan_2023&utm_campaign=landing_page&utm_medium=nav_links')
            | Laporan Tahunan 2022
            //- span.ms-1
              img(src=baseURL+'img/flag-id.webp' alt='')
          // <span class="separator">|</span>
          //-a.d-flex.align-items-center.ms-1(href='/en')
            | EN 
            span.ms-1
              img(src='img/flag-en.webp' alt='')
        .d-none.d-sm-none.d-md-none.d-lg-block
          a.btn.btn-primary.ms-4(href='#getEbook') Dapatkan E-book
