section.d-flex.align-items-center.mb-5
    .container.py-5.px-4.px-md-0
      .row.justify-content-center.mb-4
        .col-lg-12
          h2.text-center.mb-1.mt-2 Evaluasi Tanpa Henti
          p.text-center.mb-5.mt-2.text-dark
            | Prakerja berkontribusi positif terhadap 
            b.text-dark 8 dari 17 
            | Sustainable Development Goals (SDGs)
          .d-flex.align-items-strecth.flex-wrap.justify-content-center
            .col-lg-2.col-md-4.col-12.m-2.m-md-3.border.rounded.p-3.cards-shadow
              .d-flex.align-items-start.flex-md-column
                img.col-3.col-md-12(src="/img/evaluation/tanpa-kemiskinan.jpg" title="tanpa kemiskinan" alt="tanpa kemiskinan")
                div.ms-3.ms-md-0 
                    h4.text-dark.display-4.my-md-3.text-md-center 85%
                    span.text-capitalize berfungsi <b>sebagai jaring pengaman sosial</b> yang dapat membantu dalam <b>mengurangi kemiskinan</b>
            .col-lg-2.col-md-4.col-12.m-2.m-md-3.border.rounded.p-3.cards-shadow
              .d-flex.align-items-start.flex-md-column
                img.col-3.col-md-12(src="/img/evaluation/mengakhiri-kelaparan.jpg" title="mengakihri kelaparan" alt="mengakihri kelaparan")
                div.ms-3.ms-md-0
                    h4.text-dark.display-4.my-md-3.text-md-center 85%
                    span.text-capitalize 
                        | memberikan 
                        b rasa aman dalam memenuhi kebutuhan pangan 
                        | selama pandemi
            .col-lg-2.col-md-4.col-12.m-2.m-md-3.border.rounded.p-3.cards-shadow
              .d-flex.align-items-start.flex-md-column
                img.col-3.col-md-12(src="/img/evaluation/pendidikan-berkualitas.jpg" title="pendidikan berkualitas" alt="pendidikan berkualitas")
                div.ms-3.ms-md-0
                    h4.text-dark.display-4.my-md-3.text-md-center 88%
                    span.text-capitalize 
                        | menyediakan akses ke 
                        b pelatihan berkualitas 
                        | yang mendukung 
                    b pembelajaran seumur hidup
            .col-lg-2.col-md-4.col-12.m-2.m-md-3.border.rounded.p-3.cards-shadow
              .d-flex.align-items-start.flex-md-column
                img.col-3.col-md-12(src="/img/evaluation/kesetaraan-gender.jpg" title="kesetaraan gender" alt="kesetaraan gender")
                div.ms-3.ms-md-0
                    h4.text-dark.display-4.my-md-3.text-md-center 90%
                    span.text-capitalize 
                        b memberikan kesempatan yang sama 
                        | bagi laki-laki dan perempuan untuk 
                        b mendapatkan pelatihan berkualitas
            .col-lg-2.col-md-4.col-12.m-2.m-md-3.border.rounded.p-3.cards-shadow
              .d-flex.align-items-start.flex-md-column
                img.col-3.col-md-12(src="/img/evaluation/pekerjaan-layak.jpg" title="pekerjaan layak" alt="pekerjaan layak")
                div.ms-3.ms-md-0
                    h4.text-dark.display-4.my-md-3.text-md-center 89%
                    span.text-capitalize 
                        | membantu 
                        b mendapatkan pekerjaan yang layak 
                        | dan lebih baik melalui peningkatan keterampilan
            .col-lg-2.col-md-4.col-12.m-2.m-md-3.border.rounded.p-3.cards-shadow
              .d-flex.align-items-start.flex-md-column
                img.col-3.col-md-12(src="/img/evaluation/mengurangi-ketimpangan.jpg" title="mengurangi ketimpangan" alt="mengurangi ketimpangan")
                div.ms-3.ms-md-0
                    h4.text-dark.display-4.my-md-3.text-md-center 89%
                    span.text-capitalize 
                        | menyediakan 
                        b pembelajaran daring untuk penyandang disabilitas
            .col-lg-2.col-md-4.col-12.m-2.m-md-3.border.rounded.p-3.cards-shadow
              .d-flex.align-items-start.flex-md-column
                img.col-3.col-md-12(src="/img/evaluation/perdamaian.jpg" title="transparan dan anti korupsi" alt="transparan dan anti korupsi")
                div.ms-3.ms-md-0
                    h4.text-dark.display-4.my-md-3.text-md-center 88%
                    span.text-capitalize 
                        | merupakan program yang 
                        b transparan dan bebas korupsi
            .col-lg-2.col-md-4.col-12.m-2.m-md-3.border.rounded.p-3.cards-shadow
              .d-flex.align-items-start.flex-md-column
                img.col-3.col-md-12(src="/img/evaluation/kemitraan.jpg" title="praktik ideal" alt="praktik ideal")
                div.ms-3.ms-md-0
                    h4.text-dark.display-4.my-md-3.text-md-center 89%
                    span.text-capitalize 
                        | dipandang sebagai 
                        b praktik kerja sama yang ideal 
                        | antara Pemerintah Indonesia dan lembaga swasta
            p.text-center.text-bold.mt-4
                i Studi Centre for Innovation Policy and Governance (CIPG)-Asian Development Bank (ADB)