section.d-flex.align-items-center.mb-5
    .container.py-5.px-4.px-md-0
        .row.justify-content-center
            .col-lg-12
                h2.text-center.mb-5.mt-4 Cerita Sukses Alumni
        .row 
            .col-12.col-md-6
                .testimony-card.p-3
                    .testimony-header.d-flex.justify-content-between.align-items-center
                    
                        div.d-flex.align-items-center 
                            div.pe-2 
                                .testimony-img
                                    img(src="img/img-fitriwulan-sari.webp", alt="Fitri Wulan Sari")
                                
                            div 
                                h6.m-0 Sabrina Lutfiani
                                span.fs-7.text-secondary Penerima Gelombang 43 dari Kota Lubuklinggau

                        span.fs-1
                            i.bi.bi-quote

                    .testimony-body 
                        p.m-0.pt-3
                            | Saya dapat mengembangkan usaha florist saya ‘Laflanela Craft Lubuklinggau’ dimana salah satu produk andalan saya adalah produk yang menggunakan teknik
                            | rangkaian bunga dari pelatihan Prakerja. Meski belum besar, usaha saya sudah mampu menjadi pilihan untuk dikirimkan ke Walikota Lubuklinggau dan Gubernur Sumatera Selatan.

            .col-12.col-md-6
                .testimony-card.p-3
                    .testimony-header.d-flex.justify-content-between.align-items-center
                    
                        div.d-flex.align-items-center 
                            div.pe-2 
                                .testimony-img
                                    img(src="img/img-alim-hajar-ikramah.webp", alt="Alim Hajar Ikramah")
                                
                            div 
                                h6.m-0 Alim Hajar Ikramah
                                span.fs-7.text-secondary Penerima Gelombang 49 dari Kabupaten Bondowoso 

                        span.fs-1
                            i.bi.bi-quote

                    .testimony-body 
                        p.m-0.pt-3
                            | Setelah ikut pelatihan, aku lebih paham mengelola akun sosial media dan mulai menggunakannya sebagai branding diri.
                            | Aku juga memanfaatkan insentif dari Prakerja untuk ikut pelatihan lain agar lebih valuable sebagai writerpreneur.”

    