section.section-list-ebook
    .container.py-5.px-4.px-md-0
      .row
        .col-12.d-md-flex.justify-content-between.align-items-center.mb-5.px-md-5
          h2.mb-md-0 Buku Laporan Tahunan
          a.link-primary.text-decoration-none(href='https://www.prakerja.go.id/publikasi' target='_blank')
            | Lihat Publikasi 
            i.bi.bi-chevron-right
        .row.d-flex.justify-content-center
          .col-lg-4.pt-4.pt-lg-0.px-md-5.mb-3.mb-md-0
            .book-frame
              img.w-100(loading='lazy' src='img/laporan-tahunan-2020.webp' alt='Buku Laporan Manajemen Pelaksana Program Kartu Prakerja 2022')
            h6.mt-3 Buku Laporan Manajemen Pelaksana Program Kartu Prakerja 2020
            .mt-3
              a.btn.btn-outline-primary.me-3(href='https://bit.ly/Buku_Laporan_Manajemen_2020_bahasa' target='_blank')
                i.bi.bi-cloud-arrow-down.me-2
                | &nbsp;Bahasa
              a.btn.btn-outline-primary(href='https://bit.ly/Buku_Laporan_Manajemen_2020_eng' target='_blank')
                i.bi.bi-cloud-arrow-down.me-2
                | &nbsp;Inggris
          .col-lg-4.pt-4.pt-lg-0.px-md-5.mb-3.mb-md-0
            .book-frame
              img.w-100(loading='lazy' src='img/laporan-tahunan-2021.jpeg' alt='Buku Laporan Manajemen Pelaksana Program Kartu Prakerja 2021')
            h6.mt-3 Buku Laporan Manajemen Pelaksana Program Kartu Prakerja 2021
            .mt-3
              a.btn.btn-outline-primary.me-3(href='https://bit.ly/manajemen-prakerja_2021_bahasa' target='_blank')
                i.bi.bi-cloud-arrow-down.me-2
                | &nbsp;Bahasa
              a.btn.btn-outline-primary(href='https://bit.ly/manajemen-prakerja_2021_eng' target='_blank')
                i.bi.bi-cloud-arrow-down.me-2
                | &nbsp;Inggris
          .col-lg-4.pt-4.pt-lg-0.px-md-5.mb-3.mb-md-0
            .book-frame
              img.w-100(loading='lazy' src='img/laporan-tahunan-2022.webp' alt='Buku Laporan Manajemen Pelaksana Program Kartu Prakerja 2022')
            h6.mt-3 Buku Laporan Manajemen Pelaksana Program Kartu Prakerja 2022
            .mt-3
              a.btn.btn-outline-primary.me-3(href='https://laporan-2022.prakerja.go.id?utm_source=Landing_page_lapporan_2023&utm_medium=button_ebook_bahasa&utm_campaign=laporan_tahunan_2023' target='_blank')
                i.bi.bi-cloud-arrow-down.me-2
                | &nbsp;Bahasa
              a.btn.btn-outline-primary(href='https://laporan-2022.prakerja.go.id/en?utm_source=Landing_page_lapporan_2023&utm_medium=button_ebook_bahasa&utm_campaign=laporan_tahunan_2023' target='_blank')
                i.bi.bi-cloud-arrow-down.me-2
                | &nbsp;Inggris  