section.section-timeline
    .container.py-5.px-4.px-md-0
      .row.justify-content-center
        .col-lg-10
          h2.text-center.mb-5 Kunci Pencapaian 2023
          .pds-path.default
            .path-item
              h5 8 Februari
              i New York, Amerika
              p
                | Prakerja hadir pada The 61st Session of the United Nations Commission for Social Development Plenary Meeting
                br
                img.rounded.cards-shadow.p-2.mt-1.mb-2(src="/img/timeline/un-side-events.webp", alt="Prakerja hadir pada The 61st Session of the United Nations Commission for Social Development Plenary Meeting")
                br
                a.link-primary(href='https://www.prakerja.go.id/artikel/acara/kartu-prakerja-inovasi-digital-indonesia-di-webinar-pbb?utm_source=Landing_page_lapporan_2023&utm_medium=link&utm_campaign=laporan_tahunan_2023' title='Pembukaan Gelombang 23' target='_blank')
                  | Selengkapnya 
                  i.bi.bi-arrow-right
            .path-item
              h5 10 Februari
              i Jakarta, Indonesia
              p Prakerja menyelenggarakan side event The 61st Session of the United Nations Commission for Social Development (CSocD)
                br
                img.rounded.cards-shadow.p-2.mt-1.mb-2(src="/img/timeline/un-csocd-61.webp", alt="Prakerja menyelenggarakan side event The 61st Session of the United Nations Commission for Social Development (CSocD)")
                br
                a.link-primary(href='https://www.prakerja.go.id/artikel/acara/teknologi-digital-prakerja-game-changer-untuk-pembelajaran-orang-dewasa?utm_source=Landing_page_lapporan_2023&utm_medium=link&utm_campaign=laporan_tahunan_2023' title='Prakerja menyelenggarakan side event The 61st Session of the United Nations Commission for Social Development (CSocD)' target='_blank')
                  | Selengkapnya 
                  i.bi.bi-arrow-right
            .path-item
              h5 14 dan 16 Februari
              i New York, Amerika
              p
                | Kuliah umum <i>“Insights from Indonesia’s Kartu Prakerja Workforce Development Program”</i> di <b>Cornell University</b> dan <b>Columbia University</b>
            .path-item
              h5 15-16 Februari
              i New York, Amerika
              p
                | Prakerja berjejaring dan menjajaki kolaborasi dengan badan PBB (UNSGSA, UN DESA, dan UN Women)
                br
                //- a.link-primary(href='https://www.prakerja.go.id/artikel/insight/airlangga-hartarto-kartu-prakerja-dapat-apresiasi-dunia?utm_source=Landing_page_lapporan_2023&utm_medium=link&utm_campaign=laporan_tahunan_2023' title='DisUNESCO CONFINTEA VII' target='_blank')
                  | Selengkapnya 
                  i.bi.bi-arrow-right
            .path-item
              h5 
                span.badge.bg-warning.text-bg-warning
                  span.fs-5.d-flex.align-items-center
                    i.bi.bi-star-fill.fs-6
                    | 17 Februari
              p Gelombang 48 (pertama 2023) dibuka, sebanyak <b>1.3 juta</b> peserta turut serta pada gelombang ini
            .path-item
              h5 6-8 Maret
              i Jakarta, Indonesia
              p
                | Prakerja menerima kunjungan studi dari National Social Protection Council (NSPC) Kamboja
                img.rounded.cards-shadow.p-2.mt-1.mb-2(src="/img/timeline/studi-kamboja.webp", alt="Prakerja menyelenggarakan side event The 61st Session of the United Nations Commission for Social Development (CSocD)")
                br
                a.link-primary(href='https://www.prakerja.go.id/artikel/acara/kartu-prakerja-jadi-inspirasi-buat-negara-asean-nspc-kamboja-studi-banding-ke-jakarta?utm_source=Landing_page_lapporan_2023&utm_medium=link&utm_campaign=laporan_tahunan_2023' title='Temu Raya Alumni' target='_blank')
                  | Selengkapnya 
                  i.bi.bi-arrow-right
            .path-item
              h5 10 Maret 
              i Bangkok, Thailand
              p
                | Prakerja berbagi pengalaman di The 67<sup>th</sup> Session of the Commission on the Status of Women (CSW67)
                img.rounded.cards-shadow.p-2.mt-1.mb-2(src="/img/timeline/un-escap-bangkok.webp", alt="Prakerja berbagi pengalaman di The 67th Session of the Commission on the Status of Women (CSW67)")
                br
                a.link-primary(href='https://www.prakerja.go.id/artikel/acara/di-un-escap-bangkok-prakerja-paparkan-praktik-layanan-publik-yang-wujudkan-pemberdayaan-perempuan?utm_source=Landing_page_lapporan_2023&utm_medium=link&utm_campaign=laporan_tahunan_2023' title='Festival Ekonomi Keuangan Digital Indonesia (FEKDI)' target='_blank')
                  | Selengkapnya 
                  i.bi.bi-arrow-right
            .path-item
              h5 2-5 April
              i Singapura
              p Prakerja melakukan kunjungan studi ke SkillsFuture SG, the Lifelong Learning Institute (LLI),  ISEAS - Yusof Ishak Institute, dan Institute for Adult Learning (IAL)
            .path-item
              h5
                span.badge.bg-warning.text-bg-warning
                  span.fs-5.d-flex.align-items-center
                    i.bi.bi-star-fill.fs-6
                    | &nbsp;3-6 Juli
              i Bali, Indonesia 
              p 
                | Prakerja bersama UNESCO Institute for Lifelong Learning menyelenggarakan Inclusive Lifelong Learning Conference 
                img.rounded.cards-shadow.p-2.mt-1.mb-2(src="/img/timeline/illl-unesco.webp", alt="Prakerja bersama UNESCO Institute for Lifelong Learning menyelenggarakan Inclusive Lifelong Learning Conference ")
                br
                a.link-primary(href='https://www.prakerja.go.id/artikel/acara/indonesia-jadi-pionir-luncurkan-kampanye-global-unesco?utm_source=Landing_page_lapporan_2023&utm_medium=link&utm_campaign=laporan_tahunan_2023' title='Festival Ekonomi Keuangan Digital Indonesia (FEKDI)' target='_blank')
                  | Selengkapnya 
                  i.bi.bi-arrow-right
            .path-item
              h5 8 September
              i Shanghai, Cina
              p
                | Prakerja berbicara di INCLUSION Conference
                br
                a.link-primary(href='https://www.prakerja.go.id/artikel/acara/alibaba-cloud-summit-2022-bongkar-rahasia-teknologi-di-balik-program-kartu-prakerja?utm_source=Landing_page_lapporan_2023&utm_medium=link&utm_campaign=laporan_tahunan_2023' title='Alibaba Cloud Summit' target='_blank')
                  | Selengkapnya 
                  i.bi.bi-arrow-right
            .path-item
              h5 
                span.badge.bg-warning.text-bg-warning
                  span.fs-5.d-flex.align-items-center
                    i.bi.bi-star-fill.fs-6
                    | &nbsp;17 September
              i New York, Amerika
              p 
                | Prakerja mewakili Indonesia di SDG Summit (Action Weekend) di Markas PBB
                img.rounded.cards-shadow.p-2.mt-1.mb-2(src="/img/timeline/Denni-Purbasari-SDGs-Side-Event-UN-17092023.webp", alt="Prakerja mewakili Indonesia di SDG Summit (Action Weekend) di Markas PBB")
                br
                a.link-primary(href='https://www.prakerja.go.id/artikel/acara/sdg-action-weekend-di-markas-pbb-oleh-prakerja-angkat-pentingnya-skilling-upsklling-and-reskilling-kunci-sukses-di-pasar-kerja?utm_source=Landing_page_lapporan_2023&utm_medium=link&utm_campaign=laporan_tahunan_2023' title='Alibaba Cloud Summit' target='_blank')
                  | Selengkapnya 
                  i.bi.bi-arrow-right
            .path-item
              h5 17-18 September
              i Jeju, Korea Selatan
              p Prakerja berbagi pengalaman di Lifelong Learning for the Future of Education 2023 Korea
            .path-item
              h5 
                span.badge.bg-warning.text-bg-warning
                  span.fs-5.d-flex.align-items-center
                    i.bi.bi-star-fill.fs-6
                    | &nbsp;20 September
              i Seoul, Korea Selatan
              p Penandatanganan kerjasama Letter of Intent dengan National Agency for Combating Illiteracy of the Kingdom of Morocco (ANLCA) untuk memberantas buta aksara di Maroko
                img.rounded.cards-shadow.p-2.mt-1.mb-2(src="/img/timeline/kerajaan-maroko-tertarik-untuk-Belajar-dari-Inovasi-Kartu-Prakerja.webp", alt="Prakerja mewakili Indonesia di SDG Summit (Action Weekend) di Markas PBB")
                br
                a.link-primary(href='https://www.prakerja.go.id/artikel/acara/kerajaan-maroko-tertarik-untuk-belajar-dari-inovasi-kartu-prakerja?utm_source=Landing_page_lapporan_2023&utm_medium=link&utm_campaign=laporan_tahunan_2023' title='APEC Workshop' target='_blank')
                  | Selengkapnya 
                  i.bi.bi-arrow-right
            .path-item
              h5 20 September
              i Seoul, Korea Selatan
              p
                | Prakerja berbagi pengalaman di National Institute for Lifelong Education (NILE) Conference
                br
                a.link-primary(href='https://www.prakerja.go.id/artikel/acara/konferensi-global-lifelong-learning-summit-singapura-tiga-kunci-sukses-program-kartu-prakerja?utm_source=Landing_page_lapporan_2023&utm_medium=link&utm_campaign=laporan_tahunan_2023' title='Global Lifelong Learning Summit' target='_blank')
                  | Selengkapnya 
                  i.bi.bi-arrow-right
            .path-item
              h5
                span.badge.bg-warning.text-bg-warning
                  span.fs-5.d-flex.align-items-center
                    i.bi.bi-star-fill.fs-6
                    | &nbsp;26 September
              i Manila, Filipina
              p
                | Prakerja berbagi di Asian Development Bank (ADB) Social Protection Week 2023
                img.rounded.cards-shadow.p-2.mt-1.mb-2(src="/img/timeline/forum-adb-manila.webp", alt="Prakerja berbagi di Asian Development Bank (ADB) Social Protection Week 2023")
                br
                a.link-primary(href='https://www.prakerja.go.id/artikel/acara/di-forum-adb-prakerja-dapat-apresiasi-berikan-perlindungan-sosial-di-masa-pandemi?utm_source=Landing_page_lapporan_2023&utm_medium=link&utm_campaign=laporan_tahunan_2023' title='Pernyataan UNSGSA Ratu Maxima dari Belanda tentang Program Kartu Prakerja mengenai Kemitraan Multi-Pihak' target='_blank')
                  | Selengkapnya 
                  i.bi.bi-arrow-right
            .path-item
              h5 29 September
              i Manila, Filipina
              p
                | Kuliah Umum di University of Ateneo & University of the Philippines School of Economics
                br
                a.link-primary(href='https://www.linkedin.com/posts/kartu-prakerja_tampil-kedua-kali-di-forum-pbb-program-kartu-activity-7003248973515829248-MIWg/?utm_source=share&utm_medium=member_desktop?utm_source=Landing_page_lapporan_2023&utm_medium=link&utm_campaign=laporan_tahunan_2023' title='UNPOG Regional Symposium' target='_blank')
                  | Selengkapnya 
                  i.bi.bi-arrow-right
            .path-item
              h5 26 September
              i Hangzhou, Cina
              p Prakerja berbicara di Alibaba Cloud Global Summit 2023
            .path-item
              h5 3-5 Oktober
              i Roma, Italia
              p
                | Prakerja berbagi pengalaman di “Her Money, Her Account, Her Future” Global Learning Event at World Food Programme (WFP)
                img.rounded.cards-shadow.p-2.mt-1.mb-2(src="/img/timeline/world-food-forum.webp", alt="Prakerja berbagi pengalaman di “Her Money, Her Account, Her Future” Global Learning Event at World Food Programme (WFP)")
                br
                a.link-primary(href='https://www.prakerja.go.id/artikel/acara/prakerja-bagikan-pengalaman-pada-diskusi-world-food-programme-di-italia?utm_source=Landing_page_lapporan_2023&utm_medium=link&utm_campaign=laporan_tahunan_2023' title='Pernyataan UNSGSA Ratu Maxima dari Belanda tentang Program Kartu Prakerja mengenai Kemitraan Multi-Pihak' target='_blank')
                  | Selengkapnya 
                  i.bi.bi-arrow-right
                
            .path-item
              h5 
                span.badge.bg-warning.text-bg-warning
                  span.fs-5.d-flex.align-items-center
                    i.bi.bi-star-fill.fs-6
                    | &nbsp;11 Oktober
              p Gelombang 62 (terakhir 2023) dibuka, sebanyak <b>672 ribu</b> peserta turut serta pada gelombang ini.
            .path-item
              h5 11 Oktober
              i Marrakesh, Maroko
              p
                | Prakerja mewakili Indonesia di side event pertemuan tahunan World Bank-International Monetary Fund 2023 
                img.rounded.cards-shadow.p-2.mt-1.mb-2(src="/img/timeline/prakerja-maroko-imf.webp", alt="Prakerja mewakili Indonesia di side event pertemuan tahunan World Bank-International Monetary Fund 2023 ")
                br
                a.link-primary(href='https://www.prakerja.go.id/artikel/acara/prakerja-dipuji-di-pertemuan-bank-dunia-imf-2023-di-maroko?utm_source=Landing_page_lapporan_2023&utm_medium=link&utm_campaign=laporan_tahunan_2023' title='Pernyataan UNSGSA Ratu Maxima dari Belanda tentang Program Kartu Prakerja mengenai Kemitraan Multi-Pihak' target='_blank')
                  | Selengkapnya 
                  i.bi.bi-arrow-right
            .path-item
              h5 13 Oktober 
              i Busan, Korea Selatan
              p
                | Film pendek Prakerja tampil di Busan International Film Festival (BIFF)
                img.rounded.cards-shadow.p-2.mt-1.mb-2(src="/img/timeline/biff-2023.webp", alt="Film pendek Prakerja tampil di Busan International Film Festival (BIFF)")
                br
                a.link-primary(href='https://www.prakerja.go.id/artikel/acara/tampil-di-busan-festival-film-pendek-prakerja-dapat-apresiasi-sineas-dunia?utm_source=Landing_page_lapporan_2023&utm_medium=link&utm_campaign=laporan_tahunan_2023' title='Pernyataan UNSGSA Ratu Maxima dari Belanda tentang Program Kartu Prakerja mengenai Kemitraan Multi-Pihak' target='_blank')
                  | Selengkapnya 
                  i.bi.bi-arrow-right
            .path-item
              h5 17 Oktober 
              i Jakarta, Indonesia
              p
                | Prakerja berbagi pengalaman di ASEAN Regional Dialogue 2023
                img.rounded.cards-shadow.p-2.mt-1.mb-2(src="/img/timeline/forum-asean.webp", alt="Prakerja berbagi pengalaman di ASEAN Regional Dialogue 2023")
                br
                a.link-primary(href='https://www.prakerja.go.id/artikel/acara/di-forum-asean-prakerja-beberkan-peran-mengembangkan-potensi-anak-muda?utm_source=Landing_page_lapporan_2023&utm_medium=link&utm_campaign=laporan_tahunan_2023' title='Pernyataan UNSGSA Ratu Maxima dari Belanda tentang Program Kartu Prakerja mengenai Kemitraan Multi-Pihak' target='_blank')
                  | Selengkapnya 
                  i.bi.bi-arrow-right
            .path-item
              h5 17 Oktober 
              i Manila, Filipina
              p
                | Prakerja hadir di The 10th ADB International Skills Forum 2023
                img.rounded.cards-shadow.p-2.mt-1.mb-2(src="/img/timeline/adb-green-skills.webp", alt="Prakerja hadir di The 10th ADB International Skills Forum 2023")
                br
                a.link-primary(href='https://www.prakerja.go.id/artikel/acara/tambahkan-pelatihan-green-skills-prakerja-selaras-dengan-strategi-internasional?utm_source=Landing_page_lapporan_2023&utm_medium=link&utm_campaign=laporan_tahunan_2023' title='Pernyataan UNSGSA Ratu Maxima dari Belanda tentang Program Kartu Prakerja mengenai Kemitraan Multi-Pihak' target='_blank')
                  | Selengkapnya 
                  i.bi.bi-arrow-right
            .path-item
              h5 23-25 Oktober 
              i Manila, Filipina
              p
                | Prakerja menerima kunjungan studi dari Equitable Education Fund (EEF) Thailand 
                img.rounded.cards-shadow.p-2.mt-1.mb-2(src="/img/timeline/eef-thailand.webp", alt="Prakerja menerima kunjungan studi dari Equitable Education Fund (EEF) Thailand ")
                br
                a.link-primary(href='https://www.prakerja.go.id/artikel/acara/setelah-kamboja-eef-thailand-studi-banding-dan-belajar-dari-prakerja?utm_source=Landing_page_lapporan_2023&utm_medium=link&utm_campaign=laporan_tahunan_2023' title='Pernyataan UNSGSA Ratu Maxima dari Belanda tentang Program Kartu Prakerja mengenai Kemitraan Multi-Pihak' target='_blank')
                  | Selengkapnya 
                  i.bi.bi-arrow-right
            .path-item
              h5 2 November 
              i Prakerja berbicara di EdTech Asia Summit 2023
              p
                | Prakerja berbicara di EdTech Asia Summit 2023
                img.rounded.cards-shadow.p-2.mt-1.mb-2(src="/img/timeline/edtech-asia.webp", alt="Prakerja berbicara di EdTech Asia Summit 2023")
                br
                a.link-primary(href='https://www.prakerja.go.id/artikel/acara/di-forum-edtech-asia-prakerja-tekankan-perlunya-kolaborasi?utm_source=Landing_page_lapporan_2023&utm_medium=link&utm_campaign=laporan_tahunan_2023' title='Pernyataan UNSGSA Ratu Maxima dari Belanda tentang Program Kartu Prakerja mengenai Kemitraan Multi-Pihak' target='_blank')
                  | Selengkapnya 
                  i.bi.bi-arrow-right
            .path-end.text-sm-center.mt-4
              h5 12 November
              i San Francisco, Amerika
              p
                | Prakerja berbagi pengalaman di APEC Multistakeholder Forum 2023 
                br
                img.w-50.rounded.cards-shadow.p-2.mt-1.mb-2(src="/img/timeline/apec-multistakeholder-meeting.webp", alt="Prakerja berbagi pengalaman di APEC Multistakeholder Forum 2023 ")
                br
                a.link-primary(href='https://www.prakerja.go.id/artikel/acara/di-apec-multistakeholder-forum-2023-prakerja-sampaikan-transisi-skills-menuju-green-economy' title='Prakerja berbagi pengalaman di APEC Multistakeholder Forum 2023 ' target='_blank')
                  | Selengkapnya 
                  i.bi.bi-arrow-right