section#getEbook.section-forms
    .container.py-5.px-4.px-md-0
      .row.justify-content-center
        .col-lg-10.box-forms
          .row
            .col-lg-5.mb-4.mb-lg-0
              .book-frame
                img.w-100(loading='lazy' src='img/buku-laporanMPPKP2023.png' alt='laporan tahunan 2023')
            .col-lg-7
              h3 Dapatkan E-book Laporan Tahun 2023
              p Silahkan unduh tautan E-book melalui tombol dibawah
              a.button.btn.btn-primary.me-3.mb-3(href='https://bit.ly/lapporan_2023_bahasa' title='Unduh Laporan E-book Laporan Tahun 2023 Bahasa' target='_blank')
                i.bi.bi-cloud-download.me-1.mr-2 
                | Bahasa
                //-   a.button.btn.btn-primary.mb-3(href='https://bit.ly/annual_report_prakerja_2022_en' title='Unduh Laporan E-book Laporan Tahun 2022 Inggris' target='_blank')
                //-     i.bi.bi-cloud-download.me-1
                //-     |  Inggris
                // <iframe src="https://cdn.forms-content.sg-form.com/69f5e09e-0a81-11ee-b0fb-6efc201d2e62" style="width: 100%; height: 650px; margin: 0; padding: 0;"></iframe>
              //- #mc_embed_signup
                form#mc-embedded-subscribe-form.validate(action='https://prakerja.us17.list-manage.com/subscribe/post?u=b56d6c93806013f8bfb6991d1&id=65a05abf4a&f_id=002675e0f0' method='post' name='mc-embedded-subscribe-form' target='_blank' novalidate='')
                    #mc_embed_signup_scroll
                    .row
                        .col-lg-6
                            .mc-field-group.mb-3
                                label.form-label(for='mce-FNAME') Nama Depan *
                                input#mce-FNAME.required.form-control(type='text' value='' name='FNAME' placeholder='ex : Jhon' required='')
                        .col-lg-6
                            .mc-field-group.mb-3
                                label.form-label(for='mce-LNAME') Nama Belakang
                                input#mce-LNAME.required.form-control(type='text' value='' name='LNAME' placeholder='ex : Dae' required='')
                        .col-12
                            .mc-field-group.mb-3
                                label.form-label(for='mce-EMAIL') Email Perusahaan *
                                input#mce-EMAIL.required.email.form-control(type='email' value='' name='EMAIL' placeholder='email@perusahaan.com' required='')
                        .col-12.col-md-6
                            .mc-field-group.mb-3
                                label.form-label(for='mce-TITLE') Jabatan
                                input#mce-TITLE.required.form-control(type='text' value='' name='TITLE' placeholder='ex : Direktur Executive' required='')
                        .col-12.col-md-6
                            .mc-field-group.mb-3
                                label.form-label(for='mce-FUNCTION') Fungsi
                                select#mce-FUNCTION.required.form-select(name='FUNCTION' aria-label='Pilih Fungsi Jabatan' required='')
                                    option(value='Accounting') Accounting
                                    option(value='Administrative') Administrative
                                    option(value='Arts and Design') Arts and Design
                                    option(value='Business Development') Business Development
                                    option(value='Community and Social Services') Community and Social Services
                                    option(value='Consulting') Consulting
                                    option(value='Education') Education
                                    option(value='Engineering') Engineering
                                    option(value='Entrepreneurship') Entrepreneurship
                                    option(value='Finance') Finance
                                    option(value='Healthcare Services') Healthcare Services
                                    option(value='Human Resources') Human Resources
                                    option(value='Information Technology') Information Technology
                                    option(value='Legal') Legal
                                    option(value='Marketing') Marketing
                                    option(value='Media and Communication') Media and Communication
                                    option(value='Military and Protective Services') Military and Protective Services
                                    option(value='Operations') Operations
                                    option(value='Product Management') Product Management
                                    option(value='Program and Project Management') Program and Project Management
                                    option(value='Purchasing') Purchasing
                                    option(value='Quality Assurance') Quality Assurance
                                    option(value='Real Estate') Real Estate
                                    option(value='Research') Research
                                    option(value='Sales') Sales
                                    option(value='Support') Support
                        .col-lg-12
                            .mc-field-group.mb-3
                                label.form-label(for='mce-COMPANY') Nama Perusahaan
                                input#mce-COMPANY.required.form-control(type='text' value='' name='COMPANY' placeholder='ex : PT. Sukses Makmur' required='')
                        div(hidden='true')
                            input(type='hidden' name='tags' value='6500141')
                        #mce-responses.clear.foot
                        #mce-error-response.response(style='display:none')
                        #mce-success-response.response.d-none(style='display:none!important')
                        .col-lg-12
                            .alert.alert-success.align-items-start(role='alert' style='display:none')
                                i.bi.bi-send-check.me-3.fs-4
                                div
                                | Permintaan berhasil dikirim, E-book Laporan Tahunan 2022 akan dikirim ke Email Anda.
                        div(style='position:absolute;left:-5000px' aria-hidden='true')
                            input(type='text' name='b_b56d6c93806013f8bfb6991d1_65a05abf4a' tabindex='-1' value='')
                        .optionalParent
                        .clear.foot.d-grid.col-4.mt-3
                            input#mc-embedded-subscribe.button.btn.btn-primary(type='submit' value='Kirim' name='subscribe')

      span.star.star-3
      span.star.star-4