section.d-flex.align-items-center.mb-5
    .container.py-5.px-4.px-md-0
      .row.justify-content-center
        .col-lg-12
          h2.text-center.mb-5.mt-4 Peta Sebaran Efektif Penerima 2020-2023
          a(href='/img/peta-sebaran-prakerja-2023.png' title="Klik untuk lihat detail gambar" target="_blank")
            img.w-100.border.border-dark.rounded(src='/img/peta-sebaran-prakerja-2023.png' title='Peta Sebaran Efektif Penerima 2020-2023' alt='Peta Sebaran Efektif Penerima 2020-2023')