section.section-hero.d-flex.align-items-center
    .container.py-md-5.py-5.px-4.px-md-0
      .row.justify-content-center
        .col-lg-12.text-center
          h1.text-clip-img.mb-3 &#8220;Kami hadir di awan, tapi kami juga menapak di bumi Indonesia&#8220;
          h2 Laporan Manajemen Pelaksana Program Kartu Prakerja Tahun 2023
          .d-block.d-lg-none
            a.btn.btn-primary.btn-lg.mb-4(href='#getEbook') Dapatkan E-book
          p Kementrian Koordinator Bidang Perekonomian Republik Indonesia
          span.star.star-1
          span.star.star-2
    span.scroll-hint Scroll