section.section-timeline
    .container.py-5.px-4.px-md-0
      .row.justify-content-center
        .col-lg-10
          h2.text-center.mb-5 Kunci Pencapaian 2023
          ul(class="nav nav-pills mb-3 flex-column flex-sm-row justify-content-center" id="pills-tab" role="tablist")
            li.m-2(class="nav-item" role="presentation")
              button(class="nav-link active" id="pills-international-tab" data-bs-toggle="pill" data-bs-target="#pills-international" type="button" role="tab" aria-controls="pills-international" aria-selected="true") Internasional
            li.m-2(class="nav-item" role="presentation")
              button(class="nav-link" id="pills-nasional-tab" data-bs-toggle="pill" data-bs-target="#pills-nasional" type="button" role="tab" aria-controls="pills-nasional" aria-selected="false") Nasional
          div(class="tab-content" id="pills-tabContent")
            div(class="tab-pane fade show active" id="pills-international" role="tabpanel" aria-labelledby="pills-international-tab" tabindex="0")
              .pds-path.default
                .path-item
                  h5 8 Februari
                  i New York, Amerika
                  p
                    | Prakerja hadir pada The 61st Session of the United Nations Commission for Social Development Plenary Meeting
                    br
                    a.link-primary(href='https://www.prakerja.go.id/artikel/acara/kartu-prakerja-inovasi-digital-indonesia-di-webinar-pbb?utm_source=Landing_page_lapporan_2023&utm_medium=link&utm_campaign=laporan_tahunan_2023' title='Prakerja hadir pada The 61st Session of the United Nations Commission for Social Development Plenary Meeting' target='_blank')
                      img.rounded.cards-shadow.p-2.mt-1.mb-2(src="/img/timeline/un-side-events.webp", alt="Prakerja hadir pada The 61st Session of the United Nations Commission for Social Development Plenary Meeting")
                      br
                      | Selengkapnya 
                      i.bi.bi-arrow-right
                .path-item
                  h5 10 Februari
                  i Jakarta, DKI Jakarta, Indonesia
                  p Prakerja menyelenggarakan side event The 61st Session of the United Nations Commission for Social Development (CSocD)
                    br
                    a.link-primary(href='https://www.prakerja.go.id/artikel/acara/teknologi-digital-prakerja-game-changer-untuk-pembelajaran-orang-dewasa?utm_source=Landing_page_lapporan_2023&utm_medium=link&utm_campaign=laporan_tahunan_2023' title='Prakerja menyelenggarakan side event The 61st Session of the United Nations Commission for Social Development (CSocD)' target='_blank')
                      img.rounded.cards-shadow.p-2.mt-1.mb-2(src="/img/timeline/un-csocd-61.webp", alt="Prakerja menyelenggarakan side event The 61st Session of the United Nations Commission for Social Development (CSocD)")
                      br
                      | Selengkapnya 
                      i.bi.bi-arrow-right
                .path-item
                  h5 14 dan 16 Februari
                  i New York, Amerika
                  p
                    | Kuliah umum <i>“Insights from Indonesia’s Kartu Prakerja Workforce Development Program”</i> di <b>Cornell University</b> dan <b>Columbia University</b>
                .path-item
                  h5 15-16 Februari
                  i New York, Amerika
                  p
                    | Prakerja berjejaring dan menjajaki kolaborasi dengan badan PBB (UNSGSA, UN DESA, dan UN Women)
                    br
                    //- a.link-primary(href='https://www.prakerja.go.id/artikel/insight/airlangga-hartarto-kartu-prakerja-dapat-apresiasi-dunia?utm_source=Landing_page_lapporan_2023&utm_medium=link&utm_campaign=laporan_tahunan_2023' title='DisUNESCO CONFINTEA VII' target='_blank')
                      | Selengkapnya 
                      i.bi.bi-arrow-right
                .path-item
                  h5 6-8 Maret
                  i Jakarta, DKI Jakarta, Indonesia
                  p
                    | Prakerja menerima kunjungan studi dari National Social Protection Council (NSPC) Kamboja
                    br
                    a.link-primary(href='https://www.prakerja.go.id/artikel/acara/kartu-prakerja-jadi-inspirasi-buat-negara-asean-nspc-kamboja-studi-banding-ke-jakarta?utm_source=Landing_page_lapporan_2023&utm_medium=link&utm_campaign=laporan_tahunan_2023' title='Temu Raya Alumni' target='_blank')
                      img.rounded.cards-shadow.p-2.mt-1.mb-2(src="/img/timeline/studi-kamboja.webp", alt="Prakerja menyelenggarakan side event The 61st Session of the United Nations Commission for Social Development (CSocD)")
                      br
                      | Selengkapnya 
                      i.bi.bi-arrow-right
                .path-item
                  h5 10 Maret 
                  i Bangkok, Thailand
                  p
                    | Prakerja berbagi pengalaman di The 67<sup>th</sup> Session of the Commission on the Status of Women (CSW67)
                    br
                    a.link-primary(href='https://www.prakerja.go.id/artikel/acara/di-un-escap-bangkok-prakerja-paparkan-praktik-layanan-publik-yang-wujudkan-pemberdayaan-perempuan?utm_source=Landing_page_lapporan_2023&utm_medium=link&utm_campaign=laporan_tahunan_2023' title='Festival Ekonomi Keuangan Digital Indonesia (FEKDI)' target='_blank')
                      img.rounded.cards-shadow.p-2.mt-1.mb-2(src="/img/timeline/un-escap-bangkok.webp", alt="Prakerja berbagi pengalaman di The 67th Session of the Commission on the Status of Women (CSW67)")
                      br  
                      | Selengkapnya 
                      i.bi.bi-arrow-right
                .path-item
                  h5 2-5 April
                  i Singapura
                  p Prakerja melakukan kunjungan studi ke SkillsFuture SG, the Lifelong Learning Institute (LLI),  ISEAS - Yusof Ishak Institute, dan Institute for Adult Learning (IAL)
                .path-item
                  h5
                    span.badge.bg-warning.text-bg-warning
                      span.fs-5.d-flex.align-items-center
                        i.bi.bi-star-fill.fs-6
                        | &nbsp;3-6 Juli
                  i Bali, Indonesia 
                  p 
                    | Prakerja bersama UNESCO Institute for Lifelong Learning menyelenggarakan Inclusive Lifelong Learning Conference 
                    br
                    a.link-primary(href='https://www.prakerja.go.id/artikel/acara/indonesia-jadi-pionir-luncurkan-kampanye-global-unesco?utm_source=Landing_page_lapporan_2023&utm_medium=link&utm_campaign=laporan_tahunan_2023' title='Festival Ekonomi Keuangan Digital Indonesia (FEKDI)' target='_blank')
                      img.rounded.cards-shadow.p-2.mt-1.mb-2(src="/img/timeline/illl-unesco.webp", alt="Prakerja bersama UNESCO Institute for Lifelong Learning menyelenggarakan Inclusive Lifelong Learning Conference ")
                      br
                      | Selengkapnya 
                      i.bi.bi-arrow-right
                .path-item
                  h5 8 September
                  i Shanghai, Cina
                  p
                    | Prakerja berbicara di INCLUSION Conference
                    br
                    a.link-primary(href='https://www.prakerja.go.id/artikel/acara/alibaba-cloud-summit-2022-bongkar-rahasia-teknologi-di-balik-program-kartu-prakerja?utm_source=Landing_page_lapporan_2023&utm_medium=link&utm_campaign=laporan_tahunan_2023' title='Alibaba Cloud Summit' target='_blank')
                      | Selengkapnya 
                      i.bi.bi-arrow-right
                .path-item
                  h5 
                    span.badge.bg-warning.text-bg-warning
                      span.fs-5.d-flex.align-items-center
                        i.bi.bi-star-fill.fs-6
                        | &nbsp;17 September
                  i New York, Amerika
                  p 
                    | Prakerja mewakili Indonesia di SDG Summit (Action Weekend) di Markas PBB
                    br
                    a.link-primary(href='https://www.prakerja.go.id/artikel/acara/sdg-action-weekend-di-markas-pbb-oleh-prakerja-angkat-pentingnya-skilling-upsklling-and-reskilling-kunci-sukses-di-pasar-kerja?utm_source=Landing_page_lapporan_2023&utm_medium=link&utm_campaign=laporan_tahunan_2023' title='Alibaba Cloud Summit' target='_blank')
                      img.rounded.cards-shadow.p-2.mt-1.mb-2(src="/img/timeline/Denni-Purbasari-SDGs-Side-Event-UN-17092023.webp", alt="Prakerja mewakili Indonesia di SDG Summit (Action Weekend) di Markas PBB")
                      br
                      | Selengkapnya 
                      i.bi.bi-arrow-right
                .path-item
                  h5 17-18 September
                  i Jeju, Korea Selatan
                  p Prakerja berbagi pengalaman di Lifelong Learning for the Future of Education 2023 Korea
                .path-item
                  h5 
                    span.badge.bg-warning.text-bg-warning
                      span.fs-5.d-flex.align-items-center
                        i.bi.bi-star-fill.fs-6
                        | &nbsp;20 September
                  i Seoul, Korea Selatan
                  p Penandatanganan kerjasama Letter of Intent dengan National Agency for Combating Illiteracy of the Kingdom of Morocco (ANLCA) untuk memberantas buta aksara di Maroko
                    br
                    a.link-primary(href='https://www.prakerja.go.id/artikel/acara/kerajaan-maroko-tertarik-untuk-belajar-dari-inovasi-kartu-prakerja?utm_source=Landing_page_lapporan_2023&utm_medium=link&utm_campaign=laporan_tahunan_2023' title='APEC Workshop' target='_blank')
                      img.rounded.cards-shadow.p-2.mt-1.mb-2(src="/img/timeline/kerajaan-maroko-tertarik-untuk-Belajar-dari-Inovasi-Kartu-Prakerja.webp", alt="Prakerja mewakili Indonesia di SDG Summit (Action Weekend) di Markas PBB")
                      br
                      | Selengkapnya 
                      i.bi.bi-arrow-right
                .path-item
                  h5 20 September
                  i Seoul, Korea Selatan
                  p
                    | Prakerja berbagi pengalaman di National Institute for Lifelong Education (NILE) Conference
                    br
                    //- a.link-primary(href='https://www.prakerja.go.id/artikel/acara/konferensi-global-lifelong-learning-summit-singapura-tiga-kunci-sukses-program-kartu-prakerja?utm_source=Landing_page_lapporan_2023&utm_medium=link&utm_campaign=laporan_tahunan_2023' title='Global Lifelong Learning Summit' target='_blank')
                      | Selengkapnya 
                      i.bi.bi-arrow-right
                .path-item
                  h5
                    span.badge.bg-warning.text-bg-warning
                      span.fs-5.d-flex.align-items-center
                        i.bi.bi-star-fill.fs-6
                        | &nbsp;26 September
                  i Manila, Filipina
                  p
                    | Prakerja berbagi di Asian Development Bank (ADB) Social Protection Week 2023
                    br
                    a.link-primary(href='https://www.prakerja.go.id/artikel/acara/di-forum-adb-prakerja-dapat-apresiasi-berikan-perlindungan-sosial-di-masa-pandemi?utm_source=Landing_page_lapporan_2023&utm_medium=link&utm_campaign=laporan_tahunan_2023' title='Pernyataan UNSGSA Ratu Maxima dari Belanda tentang Program Kartu Prakerja mengenai Kemitraan Multi-Pihak' target='_blank')
                      img.rounded.cards-shadow.p-2.mt-1.mb-2(src="/img/timeline/forum-adb-manila.webp", alt="Prakerja berbagi di Asian Development Bank (ADB) Social Protection Week 2023")
                      br
                      | Selengkapnya 
                      i.bi.bi-arrow-right
                .path-item
                  h5 29 September
                  i Manila, Filipina
                  p
                    | Kuliah Umum di University of Ateneo & University of the Philippines School of Economics
                    br
                    a.link-primary(href='https://www.linkedin.com/posts/kartu-prakerja_tampil-kedua-kali-di-forum-pbb-program-kartu-activity-7003248973515829248-MIWg/?utm_source=share&utm_medium=member_desktop?utm_source=Landing_page_lapporan_2023&utm_medium=link&utm_campaign=laporan_tahunan_2023' title='UNPOG Regional Symposium' target='_blank')
                      | Selengkapnya 
                      i.bi.bi-arrow-right
                .path-item
                  h5 26 September
                  i Hangzhou, Cina
                  p Prakerja berbicara di Alibaba Cloud Global Summit 2023
                .path-item
                  h5 3-5 Oktober
                  i Roma, Italia
                  p
                    | Prakerja berbagi pengalaman di “Her Money, Her Account, Her Future” Global Learning Event at World Food Programme (WFP)
                    br
                    a.link-primary(href='https://www.prakerja.go.id/artikel/acara/prakerja-bagikan-pengalaman-pada-diskusi-world-food-programme-di-italia?utm_source=Landing_page_lapporan_2023&utm_medium=link&utm_campaign=laporan_tahunan_2023' title='Pernyataan UNSGSA Ratu Maxima dari Belanda tentang Program Kartu Prakerja mengenai Kemitraan Multi-Pihak' target='_blank')
                      img.rounded.cards-shadow.p-2.mt-1.mb-2(src="/img/timeline/world-food-forum.webp", alt="Prakerja berbagi pengalaman di “Her Money, Her Account, Her Future” Global Learning Event at World Food Programme (WFP)")
                      br
                      | Selengkapnya 
                      i.bi.bi-arrow-right
                .path-item
                  h5 11 Oktober
                  i Marrakesh, Maroko
                  p
                    | Prakerja mewakili Indonesia di side event pertemuan tahunan World Bank-International Monetary Fund 2023 
                    br
                    a.link-primary(href='https://www.prakerja.go.id/artikel/acara/prakerja-dipuji-di-pertemuan-bank-dunia-imf-2023-di-maroko?utm_source=Landing_page_lapporan_2023&utm_medium=link&utm_campaign=laporan_tahunan_2023' title='Pernyataan UNSGSA Ratu Maxima dari Belanda tentang Program Kartu Prakerja mengenai Kemitraan Multi-Pihak' target='_blank')
                      img.rounded.cards-shadow.p-2.mt-1.mb-2(src="/img/timeline/prakerja-maroko-imf.webp", alt="Prakerja mewakili Indonesia di side event pertemuan tahunan World Bank-International Monetary Fund 2023 ")
                      br
                      | Selengkapnya 
                      i.bi.bi-arrow-right
                .path-item
                  h5 13 Oktober 
                  i Busan, Korea Selatan
                  p
                    | Film pendek Prakerja tampil di Busan International Film Festival (BIFF)
                    br
                    a.link-primary(href='https://www.prakerja.go.id/artikel/acara/tampil-di-busan-festival-film-pendek-prakerja-dapat-apresiasi-sineas-dunia?utm_source=Landing_page_lapporan_2023&utm_medium=link&utm_campaign=laporan_tahunan_2023' title='Pernyataan UNSGSA Ratu Maxima dari Belanda tentang Program Kartu Prakerja mengenai Kemitraan Multi-Pihak' target='_blank')
                      img.rounded.cards-shadow.p-2.mt-1.mb-2(src="/img/timeline/biff-2023.webp", alt="Film pendek Prakerja tampil di Busan International Film Festival (BIFF)")
                      br
                      | Selengkapnya 
                      i.bi.bi-arrow-right
                .path-item
                  h5 17 Oktober 
                  i Jakarta, DKI Jakarta, Indonesia
                  p
                    | Prakerja berbagi pengalaman di ASEAN Regional Dialogue 2023
                    br
                    a.link-primary(href='https://www.prakerja.go.id/artikel/acara/di-forum-asean-prakerja-beberkan-peran-mengembangkan-potensi-anak-muda?utm_source=Landing_page_lapporan_2023&utm_medium=link&utm_campaign=laporan_tahunan_2023' title='Pernyataan UNSGSA Ratu Maxima dari Belanda tentang Program Kartu Prakerja mengenai Kemitraan Multi-Pihak' target='_blank')
                      img.rounded.cards-shadow.p-2.mt-1.mb-2(src="/img/timeline/forum-asean.webp", alt="Prakerja berbagi pengalaman di ASEAN Regional Dialogue 2023")
                      br
                      | Selengkapnya 
                      i.bi.bi-arrow-right
                .path-item
                  h5 17 Oktober 
                  i Manila, Filipina
                  p
                    | Prakerja hadir di The 10th ADB International Skills Forum 2023
                    br
                    a.link-primary(href='https://www.prakerja.go.id/artikel/acara/tambahkan-pelatihan-green-skills-prakerja-selaras-dengan-strategi-internasional?utm_source=Landing_page_lapporan_2023&utm_medium=link&utm_campaign=laporan_tahunan_2023' title='Pernyataan UNSGSA Ratu Maxima dari Belanda tentang Program Kartu Prakerja mengenai Kemitraan Multi-Pihak' target='_blank')
                      img.rounded.cards-shadow.p-2.mt-1.mb-2(src="/img/timeline/adb-green-skills.webp", alt="Prakerja hadir di The 10th ADB International Skills Forum 2023")
                      br
                      | Selengkapnya 
                      i.bi.bi-arrow-right
                .path-item
                  h5 23-25 Oktober 
                  i Manila, Filipina
                  p
                    | Prakerja menerima kunjungan studi dari Equitable Education Fund (EEF) Thailand 
                    br
                    a.link-primary(href='https://www.prakerja.go.id/artikel/acara/setelah-kamboja-eef-thailand-studi-banding-dan-belajar-dari-prakerja?utm_source=Landing_page_lapporan_2023&utm_medium=link&utm_campaign=laporan_tahunan_2023' title='Pernyataan UNSGSA Ratu Maxima dari Belanda tentang Program Kartu Prakerja mengenai Kemitraan Multi-Pihak' target='_blank')
                      img.rounded.cards-shadow.p-2.mt-1.mb-2(src="/img/timeline/eef-thailand.webp", alt="Prakerja menerima kunjungan studi dari Equitable Education Fund (EEF) Thailand ")
                      br
                      | Selengkapnya 
                      i.bi.bi-arrow-right
                .path-item
                  h5 2 November 
                  i Prakerja berbicara di EdTech Asia Summit 2023
                  p
                    | Prakerja berbicara di EdTech Asia Summit 2023
                    br
                    a.link-primary(href='https://www.prakerja.go.id/artikel/acara/di-forum-edtech-asia-prakerja-tekankan-perlunya-kolaborasi?utm_source=Landing_page_lapporan_2023&utm_medium=link&utm_campaign=laporan_tahunan_2023' title='Pernyataan UNSGSA Ratu Maxima dari Belanda tentang Program Kartu Prakerja mengenai Kemitraan Multi-Pihak' target='_blank')
                      img.rounded.cards-shadow.p-2.mt-1.mb-2(src="/img/timeline/edtech-asia.webp", alt="Prakerja berbicara di EdTech Asia Summit 2023")
                      br
                      | Selengkapnya 
                      i.bi.bi-arrow-right
                .path-end.text-sm-center.mt-4
                  h5 12 November
                  i San Francisco, Amerika
                  p
                    | Prakerja berbagi pengalaman di APEC Multistakeholder Forum 2023 
                    br
                    a.link-primary(href='https://www.prakerja.go.id/artikel/acara/di-apec-multistakeholder-forum-2023-prakerja-sampaikan-transisi-skills-menuju-green-economy' title='Prakerja berbagi pengalaman di APEC Multistakeholder Forum 2023 ' target='_blank')
                      img.rounded.cards-shadow.p-2.mt-1.mb-2(src="/img/timeline/apec-multistakeholder-meeting.webp", alt="Prakerja berbagi pengalaman di APEC Multistakeholder Forum 2023 ")
                      br
                      | Selengkapnya 
                      i.bi.bi-arrow-right
            div(class="tab-pane fade" id="pills-nasional" role="tabpanel" aria-labelledby="pills-nasional-tab" tabindex="0")
              .pds-path.default
                .path-item
                  h5 2 Februari
                  i Pariaman, Sumatra Barat
                  p Audiensi Prakerja dengan Pemerintah Kota Pariaman, Sumatera Barat
                .path-item
                  h5 3 Februari
                  i Yogyakarta, DIY
                  p Kuliah Umum “Tantangan Generasi Muda Menghadapi Era Society 5.0” di Universitas Muhammadiyah Yogyakarta (UMY) dan Universitas Islam Indonesia (UII)
                .path-item
                  h5 8 Februari
                  i Bogor, Jawa Barat
                  p Prakerja melakukan penandatanganan MoU bersama dengan 6 institusi sebagai tim ahli pemantauan pelatihan luring
                    br
                    a.link-primary(href='https://www.prakerja.go.id/artikel/acara/babak-baru-prakerja-universitas-dan-lsm-siap-kawal-ekosistem-prakerja-pada-skema-normal?utm_source=Landing_page_lapporan_2023&utm_medium=link&utm_campaign=laporan_tahunan_2023' title='Prakerja melakukan penandatanganan MoU bersama dengan 6 institusi sebagai tim ahli pemantauan pelatihan luring' target='_blank')
                      img.rounded.cards-shadow.p-2.mt-1.mb-2(src="/img/timeline/babak-baru-prakerja.webp", alt="Prakerja melakukan penandatanganan MoU bersama dengan 6 institusi sebagai tim ahli pemantauan pelatihan luring")
                      br
                      | Selengkapnya 
                      i.bi.bi-arrow-right
                .path-item
                  h5 
                    span.badge.bg-warning.text-bg-warning
                      span.fs-5.d-flex.align-items-center
                        i.bi.bi-star-fill.fs-6
                        | 17 Februari
                  p Gelombang 48 (pertama 2023) dibuka, sebanyak <b>1.3 juta</b> peserta turut serta pada gelombang ini
                .path-item
                  h5 28 Februari
                  i Jakarta, DKI Jakarta
                  p Dialog dengan Kepala Staf Kepresidenan di kantor Manajemen Pelaksana
                    br
                    a.link-primary(href='https://www.prakerja.go.id/artikel/acara/moeldoko-tentang-prakerja-inovasi-paten-tingkatkan-pelayanan-publik?utm_source=Landing_page_lapporan_2023&utm_medium=link&utm_campaign=laporan_tahunan_2023' title='Dialog dengan Kepala Staf Kepresidenan di kantor Manajemen Pelaksana' target='_blank')
                      img.rounded.cards-shadow.p-2.mt-1.mb-2(src="/img/timeline/moeldoko.webp", alt="Dialog dengan Kepala Staf Kepresidenan di kantor Manajemen Pelaksana")
                      br
                      | Selengkapnya 
                      i.bi.bi-arrow-right
                .path-item
                  h5 
                    span.badge.bg-warning.text-bg-warning
                      span.fs-5.d-flex.align-items-center
                        i.bi.bi-star-fill.fs-6 
                        | 15 Maret
                  i Jakarta, DKI Jakarta
                  p Prakerja menyelenggarakan “3 Tahun Prakerja: Gebrakan Inovasi Pelayanan Publik”
                    br
                    a.link-primary(href='https://www.prakerja.go.id/artikel/acara/tiga-tahun-prakerja-airlangga-hartarto-startup-e-gov-pertama-jadi-model-layanan-publik?utm_source=Landing_page_lapporan_2023&utm_medium=link&utm_campaign=laporan_tahunan_2023' title='Prakerja menyelenggarakan “3 Tahun Prakerja: Gebrakan Inovasi Pelayanan Publik”' target='_blank')
                      img.rounded.cards-shadow.p-2.mt-1.mb-2(src="/img/timeline/3-tahun-prakerja.webp", alt="Prakerja menyelenggarakan “3 Tahun Prakerja: Gebrakan Inovasi Pelayanan Publik”")
                      br
                      | Selengkapnya 
                      i.bi.bi-arrow-right
                .path-item
                  h5 17 Februari - 3 April
                  i Medan, Makassar, Semarang, Jayapura, Jawa Barat, Jawa Timur, Sulawesi Selatan, 
                  p Prakerja melaksanakan sosialisasi skema normal kepada berbagai pemerintah daerah
                .path-item
                  h5 30 Mei
                  i Bandung, Jawa Barat
                  p Aktivasi program kolaborasi dengan Mitra Co-working Space
                    br
                    a.link-primary(href='https://www.prakerja.go.id/artikel/siaran-pers/daftar-mitra-resmi-coworking-space-prakerja?utm_source=Landing_page_lapporan_2023&utm_medium=link&utm_campaign=laporan_tahunan_2023' title='Aktivasi program kolaborasi dengan Mitra Co-working Space' target='_blank')
                      img.rounded.cards-shadow.p-2.mt-1.mb-2(src="/img/timeline/Promo-Mitra-Coworking-Space-Kartu-Prakerja-per-Juni-2023-1.jpeg", alt="Aktivasi program kolaborasi dengan Mitra Co-working Space")
                      br
                      | Selengkapnya 
                      i.bi.bi-arrow-right
                .path-item
                  h5 3 Juni
                  i Jakarta, DKI Jakarta
                  p Prakerja melakukan sosialisasi skema normal dengan Asosiasi Perguruan Tinggi Swasta Indonesia (APTISI)
                .path-item
                  h5 13 Juni
                  i Purwokerto, Jawa Tengah
                  p Aktivasi program kolaborasi dengan Mitra Coworking Space
                    br
                    a.link-primary(href='https://www.prakerja.go.id/artikel/siaran-pers/kolaborasi-prakerja-pijar-mahir-dan-coworking-space-permudah-peserta-belajar-dan-bangun-jejaring?utm_source=Landing_page_lapporan_2023&utm_medium=link&utm_campaign=laporan_tahunan_2023' title='Aktivasi program kolaborasi dengan Mitra Coworking Space' target='_blank')
                      img.rounded.cards-shadow.p-2.mt-1.mb-2(src="/img/timeline/kolaborasi-prakerja-pijar-coworking.webp", alt="Aktivasi program kolaborasi dengan Mitra Coworking Space")
                      br
                      | Selengkapnya 
                      i.bi.bi-arrow-right
                .path-item
                  h5 16 Juni
                  i Cirebon, Jawa Barat
                  p Prakerja menyelenggarakan “Ngumpul Jeh Karo Menko Perekonomian”
                .path-item
                  h5
                    span.badge.bg-warning.text-bg-warning
                      span.fs-5.d-flex.align-items-center
                        i.bi.bi-star-fill.fs-6  
                        | 6 Juli
                  i Jakarta, DKI Jakarta
                  p Prakerja mendapatkan Sertifikasi ISO/IEC 27001:2022 tentang Sistem Manajemen Keamanan Informasi
                .path-item
                  h5 18 Juni
                  i Jakarta, DKI Jakarta
                  p Prakerja menerima kunjungan peserta Sekolah Staf Presiden di kantor Manajemen Pelaksana
                    br
                    a.link-primary(href='https://www.prakerja.go.id/artikel/acara/peserta-sekolah-staf-presiden-kunjungi-kantor-program-kartu-prakerja?utm_source=Landing_page_lapporan_2023&utm_medium=link&utm_campaign=laporan_tahunan_2023' title='Prakerja menerima kunjungan peserta Sekolah Staf Presiden di kantor Manajemen Pelaksana' target='_blank')
                      img.rounded.cards-shadow.p-2.mt-1.mb-2(src="/img/timeline/staff-presiden-kunjungi-prakerja.webp", alt="Prakerja menerima kunjungan peserta Sekolah Staf Presiden di kantor Manajemen Pelaksana")
                      br
                      | Selengkapnya 
                      i.bi.bi-arrow-right
                .path-item
                  h5 9 Agustus
                  i Yogyakarta, DIY 
                  p Prakerja melakukan sosialisasi standar skema pelatihan normal kepada pemerintah daerah
                .path-item
                  h5 17 Agustus
                  i Mentawai, Lubuklinggau, Alor, Sigi, dan Seram Bagian Barat
                  p Prakerja merayakan Hari Kemerdekaan Indonesia bersama alumni Prakerja
                .path-item
                  h5 1 September
                  i Banjarmasin, Kalimantan Selatan 
                  p Kuliah Umum “Ketenagakerjaan dan Inovasi Layanan Publik” di Universitas Lambung Mangkurat (ULM)
                .path-item
                  h5 1 September
                  i Mataram, Nusa Tenggara Barat
                  p Kuliah Umum “Prakerja dari Desain Program ke Implementasi” di Universitas Mataram
                .path-item
                  h5 3 September
                  i Banjarbaru, Mataram, dan Lampung
                  p Temu alumni Prakerja
                    br
                    a.link-primary(href='https://www.google.com/url?q=https://www.prakerja.go.id/artikel/acara/ratusan-peserta-hadiri-temu-alumni-prakerja-di-ntb-kalsel-dan-lampung&sa=D&source=editors&ust=1715773115172925&usg=AOvVaw0uVseE1AaK9qsZW9VxEQwY?utm_source=Landing_page_lapporan_2023&utm_medium=link&utm_campaign=laporan_tahunan_2023' title='Temu alumni Prakerja' target='_blank')
                      img.rounded.cards-shadow.p-2.mt-1.mb-2(src="/img/timeline/temu-alumni-lampung-ntb.webp", alt="Temu alumni Prakerja")
                      br
                      | Selengkapnya 
                      i.bi.bi-arrow-right
                .path-item
                  h5 10-11 September
                  i Makassar, Sulawesi Selatan
                  p Temu alumni Makassar dan Kuliah Umum “Keamanan dan Kenyamanan dalam Bertransaksi di Era Digital” di Universitas Hasanuddin
                .path-item
                  h5 13 September
                  i Jakarta, DKI Jakarta
                  p Diskusi Publik “Prakerja dan Perempuan Indonesia”
                    br
                    a.link-primary(href='https://www.prakerja.go.id/artikel/insight/prakerja-terbukti-dorong-perempuan-indonesia-lebih-berdaya?utm_source=Landing_page_lapporan_2023&utm_medium=link&utm_campaign=laporan_tahunan_2023' title='Diskusi Publik “Prakerja dan Perempuan Indonesia”' target='_blank')
                      img.rounded.cards-shadow.p-2.mt-1.mb-2(src="/img/timeline/DiskusiPeranPerempuan.webp", alt="Diskusi Publik “Prakerja dan Perempuan Indonesia”")
                      br
                      | Selengkapnya 
                      i.bi.bi-arrow-right
                .path-item
                  h5 14 September
                  i Jakarta, DKI Jakarta
                  p Penandatanganan nota kesepahaman program Talenta AI Indonesia antara Prakerja dan Microsoft
                .path-item
                  h5 20-22 September
                  i Madiun, Jawa Timur
                  p Sosialisasi Program Kartu Prakerja kepada BLU di BPSDM Perhubungan
                .path-item
                  h5 3 Oktober
                  i Pariaman, Sumatra Barat
                  p Sosialisasi Program Kartu Prakerja kepada Pemerintah Kota Pariaman    
                .path-item
                  h5 
                    span.badge.bg-warning.text-bg-warning
                      span.fs-5.d-flex.align-items-center
                        i.bi.bi-star-fill.fs-6
                        | &nbsp;11 Oktober
                  p Gelombang 62 (terakhir 2023) dibuka, sebanyak <b>672 ribu</b> peserta turut serta pada gelombang ini.
                .path-item
                  h5 24 Oktober
                  i Semarang, Jawa Tengah
                  p Prakerja berkolaborasi dengan lembaga pelatihan dalam “Budaya Belajar Sepanjang Hayat untuk Semua”
                .path-item
                  h5 24-26 Oktober
                  i Purwakarta, Jawa Barat
                  p Prakerja mengunjungi Lembaga Pelatihan Luring HINO Indonesia Academy
                .path-item
                  h5 26 Oktober
                  i Ambon, Maluku
                  p Temu alumni Prakerja "Katorang Belajar"
                    br
                    a.link-primary(href='https://www.prakerja.go.id/artikel/acara/temu-alumni-prakerja-maluku-katorang-belajar?utm_source=Landing_page_lapporan_2023&utm_medium=link&utm_campaign=laporan_tahunan_2023' title='Temu alumni Prakerja "Katorang Belajar' target='_blank')
                      img.rounded.cards-shadow.p-2.mt-1.mb-2(src="/img/timeline/temu-alumni-ambon.webp", alt="Temu alumni Prakerja Katorang Belajar")
                      br
                      | Selengkapnya 
                      i.bi.bi-arrow-right
                .path-item
                  h5 27 Oktober
                  i Ambon, Maluku
                  p Kuliah Umum “Prakerja sebagai The Exporter of Idea” di Universitas Pattimura
                    br
                    a.link-primary(href='https://www.prakerja.go.id/artikel/acara/kuliah-umum-universitas-pattimura-prakerja-exporter-of-idea-indonesia-diakui-internasional?utm_source=Landing_page_lapporan_2023&utm_medium=link&utm_campaign=laporan_tahunan_2023' title='Kuliah Umum “Prakerja sebagai The Exporter of Idea” di Universitas Pattimura' target='_blank')
                      img.rounded.cards-shadow.p-2.mt-1.mb-2(src="/img/timeline/KuliahUmumAmbon.webp", alt="Kuliah Umum “Prakerja sebagai The Exporter of Idea” di Universitas Pattimura")
                      br
                      | Selengkapnya 
                      i.bi.bi-arrow-right
                .path-item
                  h5 3 November
                  i Tangerang, Banten
                  p Temu alumni Banten
                .path-item
                  h5 16 November
                  i Sumbawa Barat, Nusa Tenggara Barat
                  p Kuliah Umum “Program Kartu Prakerja: Peluang Belajar Pasca Pendidikan Formal bagi Masyarakat” di Universitas Cordova
                    br
                    a.link-primary(href='https://www.prakerja.go.id/artikel/acara/perguruan-tinggi-apresiasi-langkah-prakerja-bantu-27-ribu-angkatan-kerja-sumbawa-barat?utm_source=Landing_page_lapporan_2023&utm_medium=link&utm_campaign=laporan_tahunan_2023' title='Kuliah Umum “Program Kartu Prakerja: Peluang Belajar Pasca Pendidikan Formal bagi Masyarakat” di Universitas Cordova' target='_blank')
                      img.rounded.cards-shadow.p-2.mt-1.mb-2(src="/img/timeline/Perguruan-Tinggi-Apresiasi-Prakerja.webp", alt="Kuliah Umum “Program Kartu Prakerja: Peluang Belajar Pasca Pendidikan Formal bagi Masyarakat” di Universitas Cordova")
                      br
                      | Selengkapnya 
                      i.bi.bi-arrow-right
                .path-item
                  h5 17 November
                  i Sumbawa Besar, Nusa Tenggara Barat
                  p Sosialisasi Prakerja skema normal kepada Pemerintah Daerah Sumbawa Besar
                .path-item
                  h5 22 November
                  i Jakarta, DKI Jakarta
                  p Diseminasi Hasil Riset Prakerja “Continuous Improvement, Evidence-driven Decision Making”
                .path-item
                  h5 27 November
                  i Makassar, Sulawesi Selatan
                  p Prakerja menyelenggarakan webinar dengan Microsoft “Kenali Tantangan dan Peluang AI di Masa Depan”
                    br
                    a.link-primary(href='https://www.prakerja.go.id/artikel/siaran-pers/prakerja-dan-microsoft-jembatani-pencari-dan-penyedia-kerja-di-skills-for-jobs?utm_source=Landing_page_lapporan_2023&utm_medium=link&utm_campaign=laporan_tahunan_2023' title='Prakerja menyelenggarakan webinar dengan Microsoft “Kenali Tantangan dan Peluang AI di Masa Depan' target='_blank')
                      img.rounded.cards-shadow.p-2.mt-1.mb-2(src="img/timeline/Skills-for-Jobs-x-Prakerja-1.webp", alt="Prakerja menyelenggarakan webinar dengan Microsoft “Kenali Tantangan dan Peluang AI di Masa Depan")
                      br
                      | Selengkapnya 
                      i.bi.bi-arrow-right
                .path-item
                  h5 
                    span.badge.bg-warning.text-bg-warning
                      span.fs-5.d-flex.align-items-center
                        i.bi.bi-star-fill.fs-6  
                        | 29 November
                  i Jakarta, DKI Jakarta
                  p Prakerja menyelenggarakan Town Hall dengan Kepala Badan Pusat Statistik (BPS) bertemakan “Kondisi Ketenagakerjaan & Update Survei Angkatan Kerja Nasional”
                .path-item
                  h5 5 Desember
                  i Solo, Jawa Tengah
                  p Prakerja menyelenggarakan “Cangkrukan Bareng Menteri Koordinator Bidang Perekonomian”
                .path-end.text-sm-center.mt-4
                  h5 7 Desember
                  i Sabang, Merauke, dan Rote
                  p
                    | Temu alumni Prakerja “Dari Ujung Indonesia”
          